html,body{
    height: 100%
}

#header{
    background-color: #bdc2c5;
    height: 100px;
    width: 100%;
}

#holder {
    min-height: 100%;
    position:relative;
}

#body {
    min-height: calc(100vh - 200px);
}

#footer{
    background-color: #bdc2c5;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}